/* 
Author: Giovanni Cobos
Date: February 25, 2024
File Name: styles.css
*/

/* CSS Reset */

body, header, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body */

body {
    background-color: #ccc;
}

header {
    width: 25%;
    float: left
}

/* Style rules for nav */

nav {
    width: 70%;
    float: right;
    margin: 0 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.75em;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}